services:
  flask_app:
    build: ./app
    container_name: flask_app
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    
  celery_worker:
    build: ./app
    container_name: celery_worker
    command: celery -A celery_worker.celery_app worker --loglevel=info --concurrency=2
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379